@{
    ViewData["Title"] = "About the Application";
    ViewData["Author"] = "by Matthew Tan";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Author"]</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh mauris cursus mattis molestie a iaculis. In vitae turpis massa sed elementum. Erat imperdiet sed euismod nisi porta lorem. Suscipit adipiscing bibendum est ultricies integer. Blandit aliquam etiam erat velit scelerisque in. Nibh ipsum consequat nisl vel pretium lectus. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Quam viverra orci sagittis eu volutpat odio. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Nunc aliquet bibendum enim facilisis. Mi bibendum neque egestas congue quisque egestas diam in. Urna id volutpat lacus laoreet non curabitur gravida. Nunc scelerisque viverra mauris in aliquam sem. Erat velit scelerisque in dictum non consectetur a erat. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Enim eu turpis egestas pretium aenean pharetra magna ac placerat.</p>
