@{
    ViewData["Title"] = "My Hobbies";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>1. Playing and watching sports</li>
    <li>2. Practicing Instruments</li>
    <li>3. Listening to music</li>
</ul>
